[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohanrao
[access "refs/for/refs/*"]
	read = group user/mohanrao
	push = group user/mohanrao
	label-Code-Review = -2..+2 group user/mohanrao
	label-Verified = -1..+1 group user/mohanrao
	rebase = group user/mohanrao
	removeReviewer = group user/mohanrao
	submit = group user/mohanrao
[access "refs/heads/*"]
	read = group user/mohanrao
	create = group user/mohanrao
	push = +force group user/mohanrao
	pushMerge = group user/mohanrao
[access "refs/tags/*"]
	push = +force group user/mohanrao
	pushTag = group user/mohanrao
	pushSignedTag = group user/mohanrao
